@font-face {
    font-family: fac;
    src: url(Moonhouse-yE5M.ttf);
}

@font-face {
    font-family: fa;
    src: url(RondalRegular-K7ORW.otf);
}

@font-face {
    font-family: new;
    src: url(AmerikaSans-Zq8.ttf);
}

@font-face {
    font-family: west;
    src: url(WestinghouseRegular-WMwv.ttf);
}

@font-face {
    font-family: quiv;
    src: url(Quivira-A8VL.ttf);
}

@font-face {
    font-family: rapid;
    src: url(PlayfairDisplayMedium-9YKZK.ttf);
}

div.loading-screen {background-color: #343434}

:root {
    --color: #F5EFFA;
}
/* var(--color); */

/**RapidFinger101-W9RV.ttf
Unitblock-JpJma.ttf
JacelonroundedRegularDemo-DYVq9.otf
*/

@font-face {
    font-family: bol;
    src: url(PlayfairDisplayBold-nRv8g.ttf);
}

body {
    margin: 0;
    background-color: #343434;
}

.me-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 25%;
    height: auto;
}

.info {
    color: var(--color);
    align-items: center;
    font-family: rapid;
    text-align: center;
    padding: 5px;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
    letter-spacing: .1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    color: var(--color);
    font-family: rapid;
    text-align: center;
    overflow: visible;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Centered title */
.title button{
    font-size: 30px;
    font-weight: bold;
    color: var(--color);
    font-family: bol;
    letter-spacing: .2rem;
    align-items: center;
    background-color: transparent;
    text-decoration: none;
}

.left-side {
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: visible;
}

.first-letter {
    opacity: 0.2;
}

.left-side button:hover .first-letter {
    opacity: 1;
}

.left-side button {
    background-color: transparent;
    color: #C3A1E3;
    font-size: 16px;
    cursor: pointer;
    font-family: rapid;
    letter-spacing: .2rem;
    border: none;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

.left-side button .full-word {
    position: absolute;
    left: 0;
    top: 100%;
    display: inline-block;
    opacity: 1;
    transition: opacity 0.3s ease;
    transform: translateX(0);
    right: 0;
}

.left-side button:hover .full-word {
    opacity: 1;
}

.left-side button .full-word span {
    display: block;
    /* Changes from inline-block to block to stack the letters vertically */
    opacity: 0.2;
    position: relative;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-top: 1px;
    /* Add a small space between each letter */
}

.left-side button:hover .full-word span {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(0.05s * var(--i));
}

.bottom-buttons-wrapper {
    position: relative;
    width: 100%;
    padding: 20px;
    min-height: 80px;  /* ensure there is enough space */
  }
  
  .bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* No positioning here since it's just used for flex centering */
  }
  
  .me {
    position: absolute;
    background: transparent;
    border: none;
    color: transparent;
    opacity: 0;
  }
  